/*Header---------------------------------------*/
.header {
background-color: black;
width: 100vw;
height: 60px;
display: flex;
justify-content: space-around;
align-items: center;
}

.title {
  color: white;
}

.links {
  color: white;
  font-weight: bolder;
}

/*Login/Signup---------------------------------*/
.Auth {
display: flex;
justify-content: center;
align-items: center;
width: 100vw;
height: 500px;
}

.authBox {  
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
border: 2.5px solid black;
width: 350px;
height: 300px;
}

.auth-buttons {
width: 160px;
height: 25px;
background-color: black;
color: white;
font-weight: bolder;
margin-top: 10px;
}

.auth-input-box {
  width: 150px;
  height: 25px;
}

/*My Subscriptions----------------------------*/
.sub-buttons-box {
  width: 100px;
}

.sub-buttons {
  background-color: black;
  color: white;
  font-weight: bolder;
  width: 130px;
  height: 50px;
  margin-left: 10px;
  border-radius: 10%;
  margin-top: 30px;
}

/*Add Subscription-----------------------------*/
.subs {
display: flex;
min-height: 100vh;
}

.plan-options-box {
  width:350px;
  height: 300px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-left: 70px;
  margin-right: 70px;
}

.plan-button {
  background-color: black;
  color: white;
  font-weight: bolder;
  width: 130px;
  height: 50px;
  margin-top: 30px;
  border-radius: 10%;
}

.edit-buttons {
  color: white;
  background-color: black;
  font-weight: bolder;
  margin-left: 70px;
  margin-right: 7px;
}

.delete-buttons {
  color: white;
  background-color: black;
  font-weight: bolder;
  margin-left: 10pxpx;
  margin-right: 7px;
}

.sub-title {
  font-weight: bolder;
  font-size: larger;
  margin-left: 70px;
}

.plan-price {
  margin-left: 70px;
}

.sub-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
    width: 100%;
}

/*Subscriptions---------------------------------*/
