/*Header---------------------------------------*/
.header {
background-color: black;
width: 100vw;
height: 60px;
display: flex;
justify-content: space-around;
align-items: center;
}

.title {
  color: white;
}

.links {
  color: white;
}

/*Login/Signup---------------------------------*/
.Auth {
display: flex;
justify-content: center;
align-items: center;
width: 100vw;
height: 500px;
}

.authBox {  
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
border: 2.5px solid black
}

/*My Subscriptions----------------------------*/

/*Add Subscription-----------------------------*/

